/* 页面基本样式 */
#app {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #343a40;
}

#sketch {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

.gallery {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gallery .gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  opacity: 0;
}
